<form [formGroup]="loginForm" (ngSubmit)="login()" class="form" novalidate>

    <div>
        <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput matNativeControl="text" placeholder="ej. Oliver Atom">
            <div class=" valid" *ngIf="loginForm.controls['name'].valid">Campo valido</div>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput matNativeControl="email" placeholder="ej. rob10@gmail.com">
            <div class="valid" *ngIf="loginForm.controls['email'].valid">Campo valido</div>
            <div class="invalid" *ngIf="loginForm.controls['email'].errors?.['pattern']">Ingresa un email valido</div>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="full-width">
            <mat-label>Contraseña</mat-label>
            <input formControlName="password" matInput matNativeControl="password">
            <div class="valid" *ngIf="loginForm.controls['password'].valid">Campo valido</div>
        <div class="invalid" *ngIf="loginForm.controls['password'].errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
        </mat-form-field>
    </div>
    
    <div>
        <mat-checkbox formControlName="isActive" type="checkbox" id="isActive">Estado del estudiante</mat-checkbox>
    </div>

    <button mat-flat-button color="primary" type="submit">Enviar</button>
</form>
